<h3> {{viewTitle}} </h3>

<form action="/contact" method="POST" autocomplete="off">
    <div class="form-group">
        <label> Full Name </label>
        <input type="text" class="form-control" name="fullName" placeholder="Enter Full Name ">
    </div>

    <div class="form-group">
        <label> Phone Number </label>
        <input type="text" class="form-control" name="phoneNumber" placeholder="Enter Phone Number ">
    </div>

    <div class="form-group">
        <label> Email </label>
        <input type="text" class="form-control" name="email" placeholder="Enter Email ">
    </div>

    <div class="form-group">
         <button type="submit" class="btn btn-info"> <i class="fa fa-database"></i> Submit </button>
    </div>
</form>